name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: [self-hosted, gpu]
    container: python:3.12
    steps:
      - uses: actions/checkout@v5
      - uses: Gr1N/setup-poetry@v9
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Install python packages
        run: poetry install
      - name: Install dependencies
        run: apt update && apt install -y protobuf-compiler
      - name: Build
        run: poetry run -- cargo build --verbose
        env:
          LIBTORCH_USE_PYTORCH: 1
          LIBTORCH_BYPASS_VERSION_CHECK: 1
